*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    width: 100svw;
    height: 100svh;
    overflow: hidden;

    background-color: lightgray;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-around;

    #button{
        width: 20svw;
        height: 8svw;
        padding: 2.5svw 4svw;
        font-size: 3svw;
        background-color: aliceblue;
        user-select: none;
        border-radius: .3svw;
        text-align: center;
    }
    #time{
        width: fit-content;
        height: 5svw;
        padding: 1svw;
        font-size: 3svw;
        background-color: aliceblue;
        user-select: none;
        border-radius: .3svw;
    }
    #times{
        position: absolute;
        top: 0px;
        right: 0px;
    }
}


nav{
    padding: 1svw;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    gap: 1svw;
}
#info{
    position: absolute;
    left: 50svw;
    z-index: 5;
    transform: translateX(-50%);
    top: 10svh;
    font-size: 3svw;
    user-select: none;
}
#target{
    position: absolute;
    z-index: 10;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: orange;
}